<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <context-param>
        <param-name>Database</param-name>
        <param-value>mysql</param-value>
    </context-param>
    <!--    <filter>
        <filter-name>filterA</filter-name>
        <filter-class>com.mycompany.maven.servlet.FilterD</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filterA</filter-name>
        <url-pattern>\db</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterA</filter-name>
        <url-pattern>\Error</url-pattern>
    </filter-mapping>-->
    <servlet>
        <servlet-name>CustomerWebServlet</servlet-name>
        <servlet-class>com.mycompany.maven.servlet.CustomerWebServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mycompany.maven.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>com.mycompany.maven.servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PendingOrderServlet</servlet-name>
        <servlet-class>com.mycompany.maven.servlet.PendingOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoleSelector</servlet-name>
        <url-pattern>/RoleSelector</url-pattern>
    </servlet-mapping>
    <!--    <welcome-file-list>
        <welcome-file>/RoleSelector</welcome-file>
    </welcome-file-list>-->
    <listener>
        <listener-class>com.mycompany.maven.servlet.ApplicationListener1</listener-class>
    </listener>
    <servlet>
        <servlet-name>ApplicationListener</servlet-name>
        <servlet-class>com.mycompany.maven.servlet.ApplicationListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleSelector</servlet-name>
        <servlet-class>com.mycompany.maven.servlet.RoleSelector</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationListener</servlet-name>
        <url-pattern>/ApplicationListener</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Error</servlet-name>
        <servlet-class>com.mycompany.maven.servlet.Error</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/Error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerWebServlet</servlet-name>
        <url-pattern>/customerwebservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PendingOrderServlet</servlet-name>
        <url-pattern>/pendingorderservlet</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>profile pages</web-resource-name>
            <url-pattern>/hompage.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>OWNER</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>profile pages</web-resource-name>
            <url-pattern>/customerweb.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>CUSTOMER</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>profile pages</web-resource-name>
            <url-pattern>/RoleSelector</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>CUSTOMER</role-name>
            <role-name>OWNER</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <role-name>OWNER</role-name>
    </security-role>
    <security-role>
        <role-name>CUSTOMER</role-name>
    </security-role>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login</form-login-page>
            <form-error-page>/Error</form-error-page>
        </form-login-config>
    </login-config>
    <servlet>
        <servlet-name>Time-Servlet</servlet-name>
        <servlet-class>com.mycompany.maven.servlet.TimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.maven.servlet.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Cookie</servlet-name>
        <servlet-class>cookie.Cookiees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cookiees1</servlet-name>
        <servlet-class>cookie.Cookiees1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletA</servlet-name>
        <servlet-class>com.mycompany.maven.servlet.ServletA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletA</servlet-name>
        <url-pattern>/sa</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletB</servlet-name>
        <servlet-class>com.mycompany.maven.servlet.ServletB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletC</servlet-name>
        <servlet-class>com.mycompany.maven.servlet.ServletC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Time-Servlet</servlet-name>
        <url-pattern>/db</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>com.mycompany.maven.servlet.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DV</servlet-name>
        <servlet-class>com.mycompany.maven.servlet.UserValidation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DV</servlet-name>
        <url-pattern>/cus</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>aaa</servlet-name>
        <servlet-class>com.mycompany.maven.servlet.CustomerrServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>aaa</servlet-name>
        <url-pattern>/inscus</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>bbb</servlet-name>
        <servlet-class>com.mycompany.maven.servlet.InputCheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bbb</servlet-name>
        <url-pattern>/ph</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PM</servlet-name>
        <servlet-class>com.mycompany.maven.servlet.InventoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PM</servlet-name>
        <url-pattern>/inspro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ccc</servlet-name>
        <servlet-class>com.mycompany.maven.servlet.StatisticsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ccc</servlet-name>
        <url-pattern>/stats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cookie</servlet-name>
        <url-pattern>/cookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cookiees1</servlet-name>
        <url-pattern>/cookie1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Check</servlet-name>
        <servlet-class>com.mycompany.maven.servlet.CheckingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Check</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sample</servlet-name>
        <url-pattern>/sample1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CustomerWeb</servlet-name>
        <servlet-class>com.mycompany.maven.servlet.CustomerWebServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerWeb</servlet-name>
        <url-pattern>/cuswebservlet</url-pattern>
    </servlet-mapping>
</web-app>
